body {
    font-family: sans-serif;
}

.contact-form {
    margin: 0 auto;
    margin-left: 40px;
}

h3 {
    width: 500px;
    background-color: lightgray;
    border-left: 5px solid red;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

form {
    border: 3px solid lightgray;
    width: 500px;
    border-radius: 10px;
}

.content {
    margin-left: 20px;
}

.abc {
    margin-bottom:0;
}

.def {
    width: 260px;
    border: 1px solid lightgray;
}

.pulldown {
    border: 1px solid lightgray;
    height: 25px;
}

.btn {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    background-color: gray;
    border: 1px light lightgray;
    border-radius: 5px;
    box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.6);
    font-size:15px;
}

