body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    height: 60px;
    color: white;
    background-color: black;
}

header ul {
    margin-bottom: 15px;
}

header ul li {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 60px;
}

.main {
    clear: both;
}

.main-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.left {
    float: left;
    width: 70%;
}

.top-title {
    border-left: 5px solid black;
    border-bottom: 3px solid black;
    padding-left: 10px;
}

form {
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: #fbfbfb;
    margin-bottom: 30px;
}

form h4 {
    width: 500px;
    border-left: 3px solid red;
    margin-left: 15px;
    margin-bottom: 0px;
    padding-left: 8px;
    padding-top: 5px;
}

form p {
    margin-top: 15px;
    margin-bottom: 0px;
}

.content {
    margin-left: 20px;
}

.nyuryoku {
    border: 1px solid lightgray;
}



.btn {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    background-color: gray;
    border: 1px light lightgray;
    border-radius: 5px;
    box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.6);
    font-size: 15px;
}

.kiji {
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: #fbfbfb;
    margin-bottom: 10px;
}

.kiji h3 {
    border-bottom: 1px solid lightgray;
}

.kiji,naiyou,handlename {
    border-bottom: 2px solid lightgray;
    padding-left: 15px;
    padding-right: 15px;
}

.handlename {
    margin-bottom: 20px;
}

.kiji-container {
    margin-bottom: 30px;
}

.right {
    float: right;
    width: 25%;
}

.title {
    border-bottom: 2px dotted black;
    margin-top: 35px;
    margin-bottom: 0px;
}

.right ul {
    margin-top: 5px;
    padding-left: 0px;
}

.right li {
    margin-bottom: 8px;
}

footer {
    clear: left;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: black;
    color: white;
}